language: php

php:
  - '7.2'
  - '7.3'
  - '7.4'
  - nightly

before_install:
  - composer self-update

install:
  - composer install --dev --prefer-source

script:
  - vendor/bin/phpunit
  - vendor/bin/phpstan analyse
  - vendor/bin/psalm
  - phpdbg -qrr vendor/bin/infection --min-msi=95

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly