{
    "timeout": 60,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "@regex": true,
        "NotIdentical": {
            "ignoreSourceCodeByRegex": [
                "assert\\(.*"
            ]
        },
        "GreaterThan": {
            "ignoreSourceCodeByRegex": [
                "assert\\(.*"
            ]
        },
        "GreaterThanNegotiation": {
            "ignoreSourceCodeByRegex": [
                "assert\\(.*"
            ]
        },
        "CastInt": {
            "ignoreSourceCodeByRegex": [
                "\\$index = \\(int\\) \\$matches\\[1\\] - 1;$"
            ]
        },
        "TrueValue": {
            "ignoreSourceCodeByRegex": [
                "return match \\(true\\) \\{"
            ]
        },
        "FalseValue": {
            "ignoreSourceCodeByRegex": [
                "if \\(\\$value === \\$language \\|\\| \\$language === false\\) \\{",
                "if \\(\\$region === '' \\|\\| \\$region === false\\) \\{",
            ]
        }
    }
}
