{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "IdenticalEqual": {
            "ignore": [
                "*"
            ]
        },
        "NotIdenticalNotEqual": {
            "ignore": [
                "*"
            ]
        },
        "CastArray": {
            "ignore": [
                "Budgegeria\\IntlFormat\\MessageParser\\SprintfParser::parseMessage"
            ]
        },
        "OneZeroInteger": {
            "ignore": [
                "Budgegeria\\IntlFormat\\MessageParser\\SprintfParser::parseMessage"
            ]
        },
        "CastString": {
            "ignore": [
                "Budgegeria\\IntlFormat\\Formatter\\PrecisionNumberFormatter::formatValue"
            ]
        },
        "TrueValue": {
            "ignore": [
                "Budgegeria\\IntlFormat\\Formatter\\TimeZoneFormatter::has"
            ]
        }
    }
}