parameters:
    level: 9
    paths:
        - "%currentWorkingDirectory%/src/"
        - "%currentWorkingDirectory%/tests/"
    treatPhpDocTypesAsCertain: false
includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
