parameters:
    level: 10
    paths:
        - "%currentWorkingDirectory%/src/"
        - "%currentWorkingDirectory%/tests/"
    treatPhpDocTypesAsCertain: false
includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
