name: "Static Analysis"

on:
  - "push"
  - "pull_request"

jobs:
  analysis:

    runs-on: "ubuntu-latest"

    steps:
    - uses: "actions/checkout@v6"

    - name: "Setup PHP Action"
      uses: "shivammathur/setup-php@v2"
      with:
        php-version: "8.4"
        extensions: "intl, xdebug"

    - name: "Install dependencies with Composer"
      uses: "ramsey/composer-install@v3"
      with:
        composer-options: "--prefer-dist --no-progress"

    - name: "PHPStan"
      run: "vendor/bin/phpstan analyse"

